{% extends 'base.html' %}

{% block content %}
<div class="container d-flex flex-column justify-content-center align-items-center" style="height: 40vh;">
    <h1>About</h1>
    <h4>By Kevin Zhang</h4>
    <h5>Tech Stack</h5>
    <ul>
        <li><strong>Backend</strong>: Django</li>
        <li><strong>Frontend</strong>: Django Templates & Bootstrap</li>
        <li><strong>Database</strong>: SQLite</li>
    </ul>

    <h5>Features</h5>
    <ul>
        <li>🧑‍🎨 User Profile Creation</li>
        <li>🖼️ Profile Picture Upload</li>
        <li>🔍 Search and Filter by Name or Field</li>
    </ul>

</div>
{% endblock %}